body {
	width:170px;
	
}
ul {
	list-style: none;
	padding-left:0px;
	margin:0px;
}
ul p {
	position:relative;
	padding: 4px 2px 4px 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor:pointer;
}

ul p span {
	margin-right:15px;
	margin-left:5px;
	min-width:15px;
}

ul p {
	background: white;
	border-radius: 3px;
}

ul p:hover {
	background: #eaeaea;
}
ul p:active {
	background:#e2e2e2;
}
ul li.inactive p {
	color:green;
}
ul li.inactive p:hover {
	background:white;
}
.link p span.delete {
	display:none;
	top:5px;
	font-size: 14px;
	margin: 0px;
	right: 0px;
	position: absolute;
	color:black
}
.red {
	color:rgb(186, 0, 0) !important;;
}

hr {
	border: 0px;
	height: 1px;
	background: #eaeaea;
}