<head>
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="../logic/jsrender.min.js"></script>
	<script src="../logic/newtab.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/newtab.css">
	<title>ChroMeSome</title>
</head>
<body>
	<div id="readLater_wrapper">
		<div id="readLater_controls"></div>
		<div id="readLater_container">
			<table id="readLater_table">
			</table>
		</div>
	</div>
</body>