<head>
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="../logic/popup.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>
<body>
	<div id="popup">
		<ul>
			<li class="link" id="_createSegment"><p><span class="fa fa-plus"></span><span default="Create a segment" class="description">Create a segment</span></p></li>
			<li class="link" id="_addToNotebook"><p><span class="fa fa-pencil-square-o"></span><span default="Add to notebook" class="description">Add to notebook</span></p></li>
			<li class="link" id="_readLater"><p><span class="fa fa-clock-o"></span><span default="Read it later..." class="description">Read it later...</span><span val="Delete from list" class="delete fa fa-trash-o"></span></p></li>
			<hr>
			<li class="link" id="_home"><p><span class="fa fa-home"></span><span default="Home screen" class="description">Home screen</span></p></li>
			<li class="link" id="_settings"><p><span class="fa fa-cog"></span><span default="Options" class="description">Options</span></p></li>
		</ul>
	</div>
</body>