<tr class="readLater_item">
	<td class="readLater_item_favicon"><img src="{{:favIconUrl}}"></td>
	<td class="readLater_item_thumb"><img src="{{:thumb}}" style="height:100px"></td>
	<td class="readLater_item_title"><a target="_blank" href="{{:url}}">{{:title}}</a></td>
	<td class="readLater_item_date">{{:date}}</td>
</tr>